body{
  background: url(https://1.bp.blogspot.com/-N96teR9XpRc/Wt4RXO9XrwI/AAAAAAADFsQ/BOzIeJiweEQx6meFIlbrshdayvIJNJvrgCLcBGAs/s1600/deportivo%2Briestra%2B0%2Bcar.jpg);
  background-repeat: no-repeat;
  float: right;
}
